
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

}

.left {
width: 5%;
background-color: #f1f1f1;
min-height: 100vh;
}
.center{
  width: 65%;
  background-color: white;
  min-height: 100vh;
}


.right{
  width: 30%;
  background-color:  white;
  min-height: fit-content;
  }

  .right .label{
    background-color: #f1f1f1;
    width: 55%;
    height: 100vh;
    margin: 0px  auto;
    margin-top: 0px;
  }

.label .big-title{

  padding: 10px 5px;
  background: #4a4e6a;
  color: white;
  margin: 0 12px;
  border-radius: 30px 10px 30px 10px;


}
.item{
padding-top: 30px;
}
.label h1 {
  background: #4a4e6a;
    border-radius: 30px 10px 30px 10px;
    margin-right: 10px;
}
.label .itemes,.label h3,.center h1,h2{
  text-align: center;
  margin: 20px 0;
  font-family:sans-serif;
}
.index{
  display: flex;
 justify-content: space-around;
 margin: 20px auto;
}
.index h2,button{
  display: inline-block;
}
.index button{
  padding: 10px 30px;
  color: white;
  border: none;
  background-color: #2b6496;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}

.center h1{
  color:#2b6496;
  font-weight:
  bolder;
  font-size: 22px;
}
.card{
  background: #f1f1f1;
  margin: 70px  10px;
  border-radius: 3px;
  width: 90%;
  padding: 20px;
}
.content{
  margin: 20px;
}
