:root{
  --color-orange:#F46632;
  --text-color:#8D8D8D;
  --text-small:16px;
  --text-mid:20px;
  --text-large:24px;
  --border-circle:50%;
  --border-small:30px;
  --border-big:4px;
  --card-back-color:#F8F8F8;
  --full:100%;
  --gravity-center:auto;
  --gravity-center-h:0 auto;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top:2rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
html::-webkit-scrollbar{
  width: 0.9rem;
}

html::-webkit-scrollbar-thumb{
  background: transparent;
}
html::-webkit-scrollbar-track{
 background: #1c2991;
  border-radius: 0;

}

nav .nav-bar{
  background-color: black;
  color: white;
}
li , a,button{
color: white;
font-size: var(--text-small);
}
.btn{
  font-size: var(--text-small);
  background-color: #ffffff2b;
  border: none;
  border-radius: 4px;
  padding:10px 30px;
  cursor: pointer;
}


.logo{
  height: 32px;
  width: 70px;
  cursor: pointer;
}
.nav-bar{
  padding: 20px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
li {
  text-align: center;
    margin-left: 30px;
    margin: 10px;
    cursor: pointer;
}

a{
  padding: 10px 20px;
}

.main-container{
  display: flex;
  justify-content: center;
  margin-top : 10px ;
  flex-wrap: wrap;
}

.main-container img {
  height: 80px;
  width: 80px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main-container .item-card{
  width: calc(30% - 30px);
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #2222220d;
  outline: 2px solid #2222220d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

}

@media only screen and (max-width: 920px) {
.main-container  > div {
    width: calc(50% - 30px);
}
}
.main-container h1{
  padding:6px 20px;
  margin: 0;
  background-color: #2b6496;
  border-radius: 10px 10px 0 0;
  color: white;
  text-align: center;
}

.main-container p,img{
  margin: 20px 10px;
  text-align: center;
}


.index{
  width: fit-content;
  display: flex;
 justify-content: space-between;
 margin: 20px auto;
}
.index h2,button{
  display: inline-block;
}
.index button{
  padding: 5px 20px;
  color: white;
  border: none;
  background-color: #2b6496;
  border-radius: 4px;
  cursor: pointer;
}
.index h2{
  padding: 7px 30px;
}






.search{
   padding: 10px 20px;
}

.main-container p
{
line-height: 2;
  font-size: 14px;
  font-weight: bold;
}

footer{
    background-color: black;
      color: white;
}
footer ul ,footer a {
  text-decoration: none;
  list-style: none;


}
footer img{
  height: 60px;
  width: 60px;
}


  footer h1{
    font-size: 16px;
    font-family: inherit;
    color: #fff4a3;
    margin-bottom: 15px;
  }
  footer p,footer a{
    font-size: 14px;
      line-height: 33px;
      font-family: inherit;
      text-align: justify;
      color: #808080;
      margin-top: 0;

  }
  footer span{
      content: " » ";
      color: #06f;
      font-size: 18px;
      padding-left: 6px;
      font-family: arial;
    }

    .about{
      display: flex;
      justify-content: center;
      padding: 100px 10px;
      flex-wrap: wrap;
    }
    .site{
      width: 20%;
      margin: 0 30px;
    }
    footer .link{
      margin: 0 30%;
    }

    .links ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: :  10px ;


    }
    .links{
      padding: 30px;
    }
    .links ul li {
      margin: 10px;
    }


/* hovers */
header a:hover{
  background-color: #1c2991;
  border-radius: 2px;
  font-weight: bolder;
  position:relative;
   top: 10px;
}

.footer a:hover {

  color: white;
  background-color: none;
  font-weight: bolder;

}
/* itemes button  */
.index button:hover{
    background-color: #b4b5bc78;
    position: relative;
    bottom: 3px;
}


/* search btn */
form  button:hover{
  background-color:#1c299152;
}

/* card items hover  */
.item-card:hover{
position: relative;
bottom: 10px;
}

/* sign up btn hover */
.start-btn:hover{
  background-color: #c3c5d6b3;
}

/* hover btn in the intro */
.btn:hover{
  background-color:  #d2d3dcbf;
}

.search:hover{

  background-color: #2b6496;
  border-radius: 2px;
   padding: 10px 20px;


}
